page-more-info {
    .bg{
        background: linear-gradient(to bottom, rgb(245, 93, 93) 0%, white 100% )
    }
    .bg1{
      background: linear-gradient(to bottom, rgba(9, 185, 141, 0.753) 0%, white 100% )
    }
    .bg2{
        background: linear-gradient(to bottom, rgba(189, 161, 6, 0.74) 0%, white 100% )
    }
    .bg3{
        background: linear-gradient(to bottom, rgb(101, 191, 233) 0%, white 100% )
    }
    .bg4{
        background: linear-gradient(to bottom, rgba(212, 129, 223, 0.74) 0%, white 100% )
    }
}
